In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("../../datasets/movies.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv("../../datasets/ratings.csv")

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
from pathlib import Path

print(Path.cwd())

/Users/deven/Developer/Machine_Learning_Python/Notebooks/TMDB

In [8]:
Path.__file__

AttributeError: type object 'Path' has no attribute '__file__'

In [12]:
import os

base = Path(__name__).resolve().parent.parent.parent

In [15]:
base

PosixPath('/Users/deven/Developer/Machine_Learning_Python')

In [16]:
links = pd.read_csv(base / "datasets/links.csv")

In [17]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [18]:
links.shape

(62423, 3)

In [19]:
import dask